<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.CaloriesMaster">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

<!--    android:icon="@mipmap/ifit_ic_launcher"-->
<!--    android:roundIcon="@mipmap/ifit_ic_launcher_round"-->
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Calories Master"
        android:resizeableActivity="false"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.example.CaloriesMaster.ViewMessagesActivity"></activity>
        <activity android:name="com.example.CaloriesMaster.MessagesActivity" />
        <activity android:name="com.example.CaloriesMaster.ServiceManagerActivity" />
        <activity android:name="com.example.CaloriesMaster.OrdersActivity" />
        <activity android:name="com.example.CaloriesMaster.ViewServiceActivity" />
        <activity android:name="com.example.CaloriesMaster.GoalsActivity" />
        <activity android:name="com.example.CaloriesMaster.AddWorkoutActivity" />
        <activity android:name="com.example.CaloriesMaster.ConnectionsActivity" />
        <activity android:name="com.example.CaloriesMaster.RequestActivity" />
        <activity android:name="com.example.CaloriesMaster.ServiceActivity" />
        <activity android:name="com.example.CaloriesMaster.PostCommentActivity" />
        <activity android:name="com.example.CaloriesMaster.CreateServiceActivity" />
        <activity android:name="com.example.CaloriesMaster.AddFoodActivity" />
        <activity
            android:name="com.example.CaloriesMaster.FindActivity"
            android:screenOrientation="unspecified" />
        <activity
            android:name="com.example.CaloriesMaster.PostActivity"
            android:screenOrientation="unspecified" />
        <activity
            android:name="com.example.CaloriesMaster.CreateFoodActivity"
            android:screenOrientation="unspecified" />
        <activity
            android:name="com.example.CaloriesMaster.DiaryActivity"
            android:screenOrientation="unspecified" />
        <activity
            android:name="com.example.CaloriesMaster.FoodListActivity"
            android:screenOrientation="unspecified" />
        <activity
            android:name="com.example.CaloriesMaster.AccountTypeActivity"
            android:screenOrientation="unspecified" />
        <activity
            android:name="com.example.CaloriesMaster.CreatePostActivity"
            android:screenOrientation="unspecified" />
        <activity
            android:name="com.example.CaloriesMaster.SetupActivity"
            android:screenOrientation="unspecified" />
        <activity
            android:name="com.example.CaloriesMaster.WelcomeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.CaloriesMaster.LoginActivity"
            android:screenOrientation="unspecified" />
        <activity
            android:name="com.example.CaloriesMaster.CreateAccountActivity"
            android:screenOrientation="unspecified" />
        <activity
            android:name="com.example.CaloriesMaster.MainActivity"
            android:screenOrientation="unspecified">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.CaloriesMaster.SplashActivity"
            android:screenOrientation="unspecified">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat" />
    </application>

</manifest>